In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

# Part I: Edges

### 1. Load data

In [2]:
# read excel file
df = pd.read_excel("2019UNData.xlsx", sheet_name="Table 1", header=14)
df.head(3)

,Year,Sort order,"Major area, region, country or area of destination",Notes,Code,Type of data (a),Unnamed: 6,Unnamed: 7,Unnamed: 8,Country or area of origin,...,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240
0,NaN,NaN,NaN,NaN,NaN,NaN,Total,Other South,Other North,Afghanistan,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990.0,1990001.0,WORLD,NaN,900.0,NaN,153011473,6548526,2366800,6823350,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990.0,1990002.0,UN development groups,NaN,NaN,NaN,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [3]:
# Delete unnecessary columns[1:8]
list(df.columns)

['Year',
 'Sort\norder',
 'Major area, region, country or area of destination',
 'Notes',
 'Code',
 'Type of data (a)',
 'Unnamed: 6',
 'Unnamed: 7',
 'Unnamed: 8',
 'Country or area of origin',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 'Unnamed: 15',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 'Unnamed: 22',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 'Unnamed: 29',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 'Unnamed: 36',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 'Unnamed: 43',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 'Unnamed: 50',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 'Unnamed: 57',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 'Unnamed: 64',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 'Unnamed: 71',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 'Unnamed: 78',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 'Unnamed: 85',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 'Unnamed: 92',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 'Unnamed: 99',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 'Unnamed: 106',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 'Unnamed: 113',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 'Unnamed: 120',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 'Unnamed: 126',
 'Unnamed: 127',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 'Unnamed: 133',
 'Unnamed: 134',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 'Unnamed: 140',
 'Unnamed: 141',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 'Unnamed: 147',
 'Unnamed: 148',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 'Unnamed: 154',
 'Unnamed: 155',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 'Unnamed: 161',
 'Unnamed: 162',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 'Unnamed: 169',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 'Unnamed: 176',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 'Unnamed: 183',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 'Unnamed: 190',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 'Unnamed: 197',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 'Unnamed: 204',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 'Unnamed: 211',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 'Unnamed: 218',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 'Unnamed: 225',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 'Unnamed: 232',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 'Unnamed: 239',
 'Unnamed: 240']

In [4]:
# Delete by column names:
df = df.drop(columns=['Sort\norder', "Notes", "Code", "Type of data (a)", "Unnamed: 6", "Unnamed: 7", "Unnamed: 8"], axis=1)
df.head()

,Year,"Major area, region, country or area of destination",Country or area of origin,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,...,Unnamed: 231,Unnamed: 232,Unnamed: 233,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240
0,NaN,NaN,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990.0,WORLD,6823350,180284,921727,2041,3792,824942,2047,21753,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990.0,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,1990.0,More developed regions,119386,177986,867015,1027,3737,167381,540,14561,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
4,1990.0,Less developed regions,6703964,2298,54712,1014,55,657561,1507,7192,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408

In [5]:
# Move the column name Year to row 0 column 0
df.columns = df.iloc[0]
df.head()

,nan,nan,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,NaN,NaN,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990.0,WORLD,6823350,180284,921727,2041,3792,824942,2047,21753,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990.0,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,1990.0,More developed regions,119386,177986,867015,1027,3737,167381,540,14561,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
4,1990.0,Less developed regions,6703964,2298,54712,1014,55,657561,1507,7192,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408

In [6]:
# Adjust the column names for Year and Destination Country
list1 = df.iloc[0]
list1 = list(list1)
list1 = list1[2:]
list1
list2 = ["Year", "Destination"]
list3 = list2 + list1
list3

['Year',
 'Destination',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia (Plurinational State of)',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'China, Hong Kong SAR',
 'China, Macao SAR',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 "CÃ´te d'Ivoire",
 'Croatia',
 'Cuba',
 'CuraÃ§ao',
 'Cyprus',
 'Czechia',
 "Dem. People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran (Islamic Republic of)',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia (Fed. States of)',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Korea',
 'Republic of Moldova',
 'RÃ©union',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saint Helena',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United Republic of Tanzania',
 'United States of America',
 'United States Virgin Islands',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Wallis and Futuna Islands',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [7]:
# renmae df hearder 
df.columns = list3
df.head()

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,NaN,NaN,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990.0,WORLD,6823350,180284,921727,2041,3792,824942,2047,21753,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990.0,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,1990.0,More developed regions,119386,177986,867015,1027,3737,167381,540,14561,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
4,1990.0,Less developed regions,6703964,2298,54712,1014,55,657561,1507,7192,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408

In [8]:
# drop row 0
df = df.drop([0])
df.head()

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990.0,WORLD,6823350,180284,921727,2041,3792,824942,2047,21753,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990.0,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,1990.0,More developed regions,119386,177986,867015,1027,3737,167381,540,14561,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
4,1990.0,Less developed regions,6703964,2298,54712,1014,55,657561,1507,7192,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408
5,1990.0,Least developed countries,0,0,5622,0,0,608108,0,0,...,286,2027,9,2510,71579,0,0,357,26254,75122

In [9]:
# Check dataframe data types
df['Year'] = df['Year'].astype(int)

In [10]:
df.head()

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1,1990,WORLD,6823350,180284,921727,2041,3792,824942,2047,21753,...,237486,1428020,5060,185946,1237873,6484,168239,455492,85203,204365
2,1990,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,1990,More developed regions,119386,177986,867015,1027,3737,167381,540,14561,...,56838,1078563,1017,114991,1085310,884,333,11457,26062,40957
4,1990,Less developed regions,6703964,2298,54712,1014,55,657561,1507,7192,...,180648,349457,4043,70955,152563,5600,167906,444035,59141,163408
5,1990,Least developed countries,0,0,5622,0,0,608108,0,0,...,286,2027,9,2510,71579,0,0,357,26254,75122

In [11]:
# Check data
a = df.loc[df['Destination'] == "Afghanistan"]
a

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
114,1990,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,1995,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
680,2000,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963,2005,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,2010,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,2015,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1812,2019,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2. make 2019 country to country migration flow df

In [12]:
# Subset rows associated with year 2019
df_2019 = df.loc[df['Year'] == 2019]
df_2019.head()

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1699,2019,WORLD,5120756,1207032,1944784,1817,9114,661590,2707,55089,...,633439,1979523,7346,2519780,2683954,11820,195572,1267610,493087,933654
1700,2019,UN development groups,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1701,2019,More developed regions,686514,1199619,1851127,43,7849,244608,1061,42352,...,434156,1523911,2702,593840,2326181,1,1244,106755,298307,325316
1702,2019,Less developed regions,4434242,7413,93657,1774,1265,416982,1646,12737,...,199283,455612,4644,1925940,357773,11819,194328,1160855,194780,608338
1703,2019,Least developed countries,536,1439,13793,446,1166,250846,0,4249,...,843,229,64,2463,86927,0,29089,7479,57299,151639

In [13]:
# select only country data not regional or income group data
list_country = list(df_2019.columns)
list_country = list_country[2:]
len(list_country)

232

In [14]:
# select rows that are countries in the country_list
df_2019 = df_2019.loc[df_2019['Destination'].isin(list_country)]
len(df_2019)

232

In [15]:
df_2019.head()

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
1722,2019,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1723,2019,Comoros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1724,2019,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272,NaN,NaN
1725,2019,Eritrea,NaN,NaN,NaN,NaN,NaN,349,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,243,327
1726,2019,Ethiopia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,156,NaN,NaN

### 3. Clean up df_2019

In [16]:
# reset index
df_2019 = df_2019.reset_index(drop=True)
df_2019.head(3)

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,2019,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,Comoros,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,Djibouti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272,NaN,NaN

In [17]:
# impute Nan with 0
df_2019 = df_2019.fillna(0)
df_2019.head(3)

,Year,Destination,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,2019,Burundi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2019,Comoros,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2019,Djibouti,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,272,0,0

### 4. Transform df to edge list format

In [18]:
# Transform the dataframe to edgelist format
df_2019_t = df_2019.drop(columns=['Year']).set_index('Destination')
df_2019_t.head()

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
Destination,,,,,,,,,,,,,,,,,,,,,
Burundi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Comoros,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Djibouti,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,272,0,0
Eritrea,0,0,0,0,0,349,0,0,0,0,...,0,0,0,0,0,0,0,0,243,327
Ethiopia,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,156,0,0

In [19]:
#df_2019_t.loc["Afghanistan", "Uzbekistan"]

In [20]:
# reorder the index according to the country name orders defined in the header
df_2019_t = df_2019_t.reindex(list_country)
df_2019_t

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
Destination,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,229,0,0,0,0,0,0,0,0
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,165223,2353,0,0
American Samoa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,211,0,0,0,0,0
Andorra,0,0,0,0,0,0,0,0,727,0,...,108,0,0,0,0,0,0,0,0,0
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,314,0
Anguilla,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Antigua and Barbuda,0,0,0,0,0,0,40,0,0,0,...,0,0,0,40,0,0,0,0,0,0
Argentina,9,67,105,0,1,9,0,0,0,570,...,135076,0,8,91315,5,0,0,0,1,2
Armenia,0,0,0,0,0,0,0,0,0,0,...,0,983,0,0,0,0,0,0,0,0
Aruba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3438,0,0,0,0,0,0
Australia,59798,3872,1745,0,31,592,0,63,17583,1629,...,11246,2147,1565,7427,265018,0,0,888,8009,45102
Austria,20561,3715,1522,0,2,402,0,8,1797,3601,...,332,890,8,1080,3947,0,0,112,133,351
Azerbaijan,178,0,0,0,0,0,0,0,0,142650,...,0,16362,0,0,0,0,0,0,0,0
Bahamas,0,0,0,0,0,0,0,14,117,0,...,18,0,0,31,0,0,0,0,0,15
Bahrain,690,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15791,0,0
Bangladesh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,27883,0,0,0,0,0
Barbados,0,0,0,0,0,0,0,195,0,0,...,0,0,0,0,0,0,0,0,0,0
Belarus,278,0,52,0,0,0,0,0,100,5656,...,27,14603,0,0,361,0,0,32,0,0
Belgium,23386,11042,27633,0,0,6897,0,0,2525,1607,...,516,436,0,1844,8765,0,0,302,367,506
Belize,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Benin,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bermuda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bhutan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Bolivia (Plurinational State of),1,1,3,0,0,6,0,0,46609,5,...,555,5,0,843,13,0,0,0,2,3
"Bonaire, Sint Eustatius and Saba",0,0,0,0,0,0,33,29,3,0,...,0,0,0,571,0,0,0,0,0,0
Bosnia and Herzegovina,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Botswana,0,0,0,0,0,782,0,0,0,0,...,0,0,0,0,0,0,0,0,4429,64477
Brazil,77,0,246,0,13,8665,0,0,39078,70,...,32331,34,0,3857,171,0,0,0,0,137
British Virgin Islands,0,0,0,0,0,0,0,822,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Syrian Arab Republic,1018,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tajikistan,12346,0,128,0,0,0,0,0,0,193,...,0,7510,0,0,0,0,0,0,22,0
Thailand,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7350,0,0,0,0,1
Timor-Leste,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,205,0,0,0,0,0
Togo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tokelau,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tonga,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Trinidad and Tobago,0,0,0,0,0,0,0,0,0,0,...,0,0,0,7420,0,0,0,0,0,0
Tunisia,0,0,10580,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Turkey,18390,4495,876,0,0,0,0,0,189,1076,...,58,10813,0,52,39,0,0,135,0,0
Turkmenistan,216,0,0,0,0,0,0,0,0,7067,...,0,67075,0,0,0,0,0,0,0,0
Turks and Caicos Islands,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tuvalu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Uganda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6,2
Ukraine,4860,0,0,0,0,0,0,0,0,47780,...,0,222012,0,0,12513,0,0,0,0,0
United Arab Emirates,8071,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,202574,0,0
United Kingdom,55227,11244,25134,0,59,14482,869,5380,12239,1589,...,1648,2245,196,9258,37805,0,0,21575,35516,183117
United Republic of Tanzania,0,0,0,0,0,1123,0,0,0,0,...,0,0,0,0,0,0,0,0,7688,764
United States of America,80026,99205,21201,0,0,15192,0,34208,215239,101757,...,56230,66093,0,255141,1368746,0,0,49289,26841,59895
United States Virgin Islands,0,0,0,0,0,0,972,4588,0,0,...,0,0,0,0,0,0,0,0,0,0
Uruguay,0,0,0,0,0,0,0,0,28604,0,...,0,0,0,602,0,0,0,0,0,0
Uzbekistan,0,0,0,0,0,0,0,0,0,5857,...,0,0,0,0,0,0,0,0,0,0
Vanuatu,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Venezuela (Bolivarian Republic of),0,18,93,0,0,184,0,0,9740,33,...,4696,0,0,0,11,0,0,0,0,14
Viet Nam,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Wallis and Futuna Islands,0,0,0,0,0,0,0,0,0,0,...,0,0,28,0,0,0,0,0,0,0
Western Sahara,0,0,81,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,15,0,0,0,0,0
Zambia,0,0,0,0,0,28908,0,0,0,0,...,0,0,0,0,0,0,0,0,0,15478
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,31359,0

In [21]:
# transform to edge list format
df_2019_edgelist = df_2019_t.stack().reset_index()
df_2019_edgelist.head()

   Destination         level_1  0
0  Afghanistan     Afghanistan  0
1  Afghanistan         Albania  0
2  Afghanistan         Algeria  0
3  Afghanistan  American Samoa  0
4  Afghanistan         Andorra  0

In [22]:
# Rename header
df_2019_edgelist = df_2019_edgelist.rename(columns={"level_1": "Origin", 0:"Weight"})
df_2019_edgelist.head()

   Destination          Origin  Weight
0  Afghanistan     Afghanistan       0
1  Afghanistan         Albania       0
2  Afghanistan         Algeria       0
3  Afghanistan  American Samoa       0
4  Afghanistan         Andorra       0

In [23]:
# remove rows that is similar to "Afghanistan to Afganistan"
indexnames = df_2019_edgelist[df_2019_edgelist['Destination'] == df_2019_edgelist["Origin"]].index

# delete those rows
df_2019_edgelist.drop(indexnames, inplace=True)
df_2019_edgelist.head()

# reset index
df_2019_edgelist = df_2019_edgelist.reset_index(drop=True)
df_2019_edgelist.head()

   Destination          Origin  Weight
0  Afghanistan         Albania       0
1  Afghanistan         Algeria       0
2  Afghanistan  American Samoa       0
3  Afghanistan         Andorra       0
4  Afghanistan          Angola       0

### Export to csv

In [24]:
df_2019_edgelist.to_csv("EdgeList.csv", index=False)

# Part II: Nodes

In [25]:
import os

In [26]:
#os.getcwd()

### Group countries by region

In [27]:
def get_txt_paths(path):
    txt_paths = []
    txt_file_names = []
    
    for file in os.listdir(path):
        # txt paths
        single_file_path = os.path.join(path, file)
        txt_paths.append(single_file_path)
        
        # txt file names
        file_name = file[:-4]
        txt_file_names.append(file_name)
    
    return txt_paths, txt_file_names

path_name = "./RegionData"
txt_path, txt_file_name = get_txt_paths(path_name)
txt_path, txt_file_name

(['./RegionData\\Australia New Zealand.txt',
  './RegionData\\Caribbean.txt',
  './RegionData\\Central America.txt',
  './RegionData\\Central Asia.txt',
  './RegionData\\Eastern Africa.txt',
  './RegionData\\Eastern Asia.txt',
  './RegionData\\Eastern Europe.txt',
  './RegionData\\Melanesia.txt',
  './RegionData\\Micronesia.txt',
  './RegionData\\Middle Africa.txt',
  './RegionData\\Northern Africa.txt',
  './RegionData\\Northern America.txt',
  './RegionData\\Northern Europe.txt',
  './RegionData\\Polynesia.txt',
  './RegionData\\South America.txt',
  './RegionData\\South Eastern Asia.txt',
  './RegionData\\Southern Africa.txt',
  './RegionData\\Southern Asia.txt',
  './RegionData\\Southern Europe.txt',
  './RegionData\\Western Africa.txt',
  './RegionData\\Western Asia.txt',
  './RegionData\\Western Europe.txt'],
 ['Australia New Zealand',
  'Caribbean',
  'Central America',
  'Central Asia',
  'Eastern Africa',
  'Eastern Asia',
  'Eastern Europe',
  'Melanesia',
  'Micronesia',
  'Middle Africa',
  'Northern Africa',
  'Northern America',
  'Northern Europe',
  'Polynesia',
  'South America',
  'South Eastern Asia',
  'Southern Africa',
  'Southern Asia',
  'Southern Europe',
  'Western Africa',
  'Western Asia',
  'Western Europe'])

In [28]:
# Create a dictionary to store region names and corresponding country names
# Create a dict with region names as the keys
region_country_dict = {}
for region in txt_file_name:
    region_country_dict[region] = []
region_country_dict

{'Australia New Zealand': [],
 'Caribbean': [],
 'Central America': [],
 'Central Asia': [],
 'Eastern Africa': [],
 'Eastern Asia': [],
 'Eastern Europe': [],
 'Melanesia': [],
 'Micronesia': [],
 'Middle Africa': [],
 'Northern Africa': [],
 'Northern America': [],
 'Northern Europe': [],
 'Polynesia': [],
 'South America': [],
 'South Eastern Asia': [],
 'Southern Africa': [],
 'Southern Asia': [],
 'Southern Europe': [],
 'Western Africa': [],
 'Western Asia': [],
 'Western Europe': []}

In [29]:
# Read the countries in each txt file
# and Append the list of countries to the corresponding key
path_name = "./RegionData"
for region in txt_file_name:
    new_path = path_name + "\\" + region + ".txt"
    txt_file = open(new_path)
    txt = txt_file.read().split("\n")
    txt_file.close()
    region_country_dict[region] = txt

region_country_dict

{'Australia New Zealand': ['Australia', 'New Zealand'],
 'Caribbean': ['Anguilla',
  'Antigua and Barbuda',
  'Aruba',
  'Bahamas',
  'Barbados',
  'British Virgin Islands',
  'Bonaire, Sint Eustatius and Saba',
  'Cayman Islands',
  'Cuba',
  'CuraÃƒÂ§ao',
  'Dominica',
  'Dominican Republic',
  'Grenada',
  'Guadeloupe',
  'Haiti',
  'Jamaica',
  'Martinique',
  'Montserrat',
  'Puerto Rico',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent and the Grenadines',
  'Sint Maarten (Dutch part)',
  'Trinidad and Tobago',
  'Turks and Caicos Islands',
  'United States Virgin Islands'],
 'Central America': ['Belize',
  'Costa Rica',
  'El Salvador',
  'Guatemala',
  'Honduras',
  'Mexico',
  'Nicaragua',
  'Panama'],
 'Central Asia': ['Kazakhstan',
  'Kyrgyzstan',
  'Tajikistan',
  'Turkmenistan',
  'Uzbekistan'],
 'Eastern Africa': ['Burundi',
  'Comoros',
  'Djibouti',
  'Eritrea',
  'Ethiopia',
  'Kenya',
  'Madagascar',
  'Malawi',
  'Mauritius',
  'Mayotte',
  'Mozambique',
  'RÃƒÂ©union',
  'Rwanda',
  'Seychelles',
  'Somalia',
  'South Sudan',
  'Uganda',
  'United Republic of Tanzania',
  'Zambia',
  'Zimbabwe'],
 'Eastern Asia': ['China',
  'China, Hong Kong SAR',
  'China, Macao SAR',
  "Dem. People's Republic of Korea",
  'Japan',
  'Mongolia',
  'Republic of Korea'],
 'Eastern Europe': ['Belarus',
  'Bulgaria',
  'Czechia',
  'Hungary',
  'Poland',
  'Republic of Moldova',
  'Romania',
  'Russian Federation',
  'Slovakia',
  'Ukraine'],
 'Melanesia': ['Fiji',
  'New Caledonia',
  'Papua New Guinea',
  'Solomon Islands',
  'Vanuatu'],
 'Micronesia': ['Guam',
  'Kiribati',
  'Marshall Islands',
  'Micronesia (Fed. States of)',
  'Nauru',
  'Northern Mariana Islands',
  'Palau'],
 'Middle Africa': ['Angola',
  'Cameroon',
  'Central African Republic',
  'Chad',
  'Congo',
  'Democratic Republic of the Congo',
  'Equatorial Guinea',
  'Gabon',
  'Sao Tome and Principe'],
 'Northern Africa': ['Algeria',
  'Egypt',
  'Libya',
  'Morocco',
  'Sudan',
  'Tunisia',
  'Western Sahara'],
 'Northern America': ['Bermuda',
  'Canada',
  'Greenland',
  'Saint Pierre and Miquelon',
  'United States of America'],
 'Northern Europe': ['Channel Islands',
  'Denmark',
  'Estonia',
  'Faroe Islands',
  'Finland',
  'Iceland',
  'Ireland',
  'Isle of Man',
  'Latvia',
  'Lithuania',
  'Norway',
  'Sweden',
  'United Kingdom'],
 'Polynesia': ['American Samoa',
  'Cook Islands',
  'French Polynesia',
  'Niue',
  'Samoa',
  'Tokelau',
  'Tonga',
  'Tuvalu',
  'Wallis and Futuna Islands'],
 'South America': ['Argentina',
  'Bolivia (Plurinational State of)',
  'Brazil',
  'Chile',
  'Colombia',
  'Ecuador',
  'Falkland Islands (Malvinas)',
  'French Guiana',
  'Guyana',
  'Paraguay',
  'Peru',
  'Suriname',
  'Uruguay',
  'Venezuela (Bolivarian Republic of)'],
 'South Eastern Asia': ['Brunei Darussalam',
  'Cambodia',
  'Indonesia',
  "Lao People's Democratic Republic",
  'Malaysia',
  'Myanmar',
  'Philippines',
  'Singapore',
  'Thailand',
  'Timor-Leste',
  'Viet Nam'],
 'Southern Africa': ['Botswana',
  'Eswatini',
  'Lesotho',
  'Namibia',
  'South Africa'],
 'Southern Asia': ['Afghanistan',
  'Bangladesh',
  'Bhutan',
  'India',
  'Iran (Islamic Republic of)',
  'Maldives',
  'Nepal',
  'Pakistan',
  'Sri Lanka'],
 'Southern Europe': ['Albania',
  'Andorra',
  'Bosnia and Herzegovina',
  'Croatia',
  'Gibraltar',
  'Greece',
  'Holy See',
  'Italy',
  'Malta',
  'Montenegro',
  'North Macedonia',
  'Portugal',
  'San Marino',
  'Serbia',
  'Slovenia',
  'Spain'],
 'Western Africa': ['Benin',
  'Burkina Faso',
  'Cabo Verde',
  "CÃƒÂ´te d'Ivoire",
  'Gambia',
  'Ghana',
  'Guinea',
  'Guinea-Bissau',
  'Liberia',
  'Mali',
  'Mauritania',
  'Niger',
  'Nigeria',
  'Saint Helena',
  'Senegal',
  'Sierra Leone',
  'Togo'],
 'Western Asia': ['Armenia',
  'Azerbaijan',
  'Bahrain',
  'Cyprus',
  'Georgia',
  'Iraq',
  'Israel',
  'Jordan',
  'Kuwait',
  'Lebanon',
  'Oman',
  'Qatar',
  'Saudi Arabia',
  'State of Palestine',
  'Syrian Arab Republic',
  'Turkey',
  'United Arab Emirates',
  'Yemen'],
 'Western Europe': ['Austria',
  'Belgium',
  'France',
  'Germany',
  'Liechtenstein',
  'Luxembourg',
  'Monaco',
  'Netherlands',
  'Switzerland']}

### Create the Node csv file and a new column with region info

In [30]:
df_nodes = df_2019[["Destination"]].sort_values(by=['Destination'], ascending=True)
df_nodes = df_nodes.reset_index(drop=True)
df_nodes.head()

      Destination
0     Afghanistan
1         Albania
2         Algeria
3  American Samoa
4         Andorra

In [31]:
df_nodes = df_nodes.rename(columns={"Destination":"Country"})
df_nodes.head()

          Country
0     Afghanistan
1         Albania
2         Algeria
3  American Samoa
4         Andorra

### Create region df

In [32]:
# Transform dict into a dataframe 
df_region = pd.DataFrame.from_dict(region_country_dict, orient='index')
#df_region = df_region.reset_index(drop=False)
df_region.head(2)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
Australia New Zealand,Australia,New Zealand,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Caribbean,Anguilla,Antigua and Barbuda,Aruba,Bahamas,Barbados,British Virgin Islands,"Bonaire, Sint Eustatius and Saba",Cayman Islands,Cuba,CuraÃƒÂ§ao,...,Martinique,Montserrat,Puerto Rico,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,Sint Maarten (Dutch part),Trinidad and Tobago,Turks and Caicos Islands,United States Virgin Islands

In [33]:
df_region = df_region.transpose()
df_region.head()

,Australia New Zealand,Caribbean,Central America,Central Asia,Eastern Africa,Eastern Asia,Eastern Europe,Melanesia,Micronesia,Middle Africa,...,Northern Europe,Polynesia,South America,South Eastern Asia,Southern Africa,Southern Asia,Southern Europe,Western Africa,Western Asia,Western Europe
0,Australia,Anguilla,Belize,Kazakhstan,Burundi,China,Belarus,Fiji,Guam,Angola,...,Channel Islands,American Samoa,Argentina,Brunei Darussalam,Botswana,Afghanistan,Albania,Benin,Armenia,Austria
1,New Zealand,Antigua and Barbuda,Costa Rica,Kyrgyzstan,Comoros,"China, Hong Kong SAR",Bulgaria,New Caledonia,Kiribati,Cameroon,...,Denmark,Cook Islands,Bolivia (Plurinational State of),Cambodia,Eswatini,Bangladesh,Andorra,Burkina Faso,Azerbaijan,Belgium
2,None,Aruba,El Salvador,Tajikistan,Djibouti,"China, Macao SAR",Czechia,Papua New Guinea,Marshall Islands,Central African Republic,...,Estonia,French Polynesia,Brazil,Indonesia,Lesotho,Bhutan,Bosnia and Herzegovina,Cabo Verde,Bahrain,France
3,None,Bahamas,Guatemala,Turkmenistan,Eritrea,Dem. People's Republic of Korea,Hungary,Solomon Islands,Micronesia (Fed. States of),Chad,...,Faroe Islands,Niue,Chile,Lao People's Democratic Republic,Namibia,India,Croatia,CÃƒÂ´te d'Ivoire,Cyprus,Germany
4,None,Barbados,Honduras,Uzbekistan,Ethiopia,Japan,Poland,Vanuatu,Nauru,Congo,...,Finland,Samoa,Colombia,Malaysia,South Africa,Iran (Islamic Republic of),Gibraltar,Gambia,Georgia,Liechtenstein

In [34]:
# test on one column first
region_name_1 = "Australia New Zealand"

# get the value of the key and calculate the length of that value list
length = len(region_country_dict[region_name_1])

# get the rows of the chosen column
b = df_region[[region_name_1]][:length]

# create a new column "Region" with the corresponding region name
col_name = list(b.columns)
b['Region'] = col_name[0]
b

  Australia New Zealand                 Region
0             Australia  Australia New Zealand
1           New Zealand  Australia New Zealand

In [35]:
def generate_region_dfs(region_name, rc_dict, DF):
    # test on one column first
    region_name_1 = region_name

    # get the value of the key and calculate the length of that value list
    length = len(region_country_dict[region_name_1])

    # get the rows of the chosen column
    b = df_region[[region_name_1]][:length]

    # create a new column "Region" with the corresponding region name
    col_name = list(b.columns)
    b['Region'] = col_name[0]
    
    return b

### Using a loop to concat all sub-region dfs

In [36]:
df_list = ["df1", "df2", "df3", "df4", "df5", "df6", "df7", "df8", "df9", "df10", "df11", "df12", "df13", "df14", "df15", "df16", "df17", "df18", "df19", "df20", "df21", "df22"]


txt_file_name_short = txt_file_name[1:]
i = 0
for i in range(0, 22):
    region_name = txt_file_name[i]
    
    df2 = generate_region_dfs(region_name, region_country_dict, df_region)
    df2 = df2.rename(columns={region_name:"Country"})
    df_list[i] = df2
    i += 1

result = pd.concat(df_list)
result.to_csv("df_region.csv", index=False)

In [37]:
result = result.sort_values(by="Country", ascending=True).reset_index(drop=True)

result.tail()

                       Country           Region
227  Wallis and Futuna Islands        Polynesia
228             Western Sahara  Northern Africa
229                      Yemen     Western Asia
230                     Zambia   Eastern Africa
231                   Zimbabwe   Eastern Africa

### Merge the nodes df and region df together

In [39]:
len(df_nodes)
df_nodes.to_csv("df_nodes_check.csv", index=False)
result.to_csv("result_check.csv", index=False)

In [40]:
len(result)

232

### Check

In [41]:
df_nodes_new = df_nodes.rename(columns={"Country":"id"})
df_nodes_new.head(2)

            id
0  Afghanistan
1      Albania

In [42]:
df_new = df_nodes_new.merge(result, left_on = 'id', right_on = "Country")
df_new.head()

               id         Country           Region
0     Afghanistan     Afghanistan    Southern Asia
1         Albania         Albania  Southern Europe
2         Algeria         Algeria  Northern Africa
3  American Samoa  American Samoa        Polynesia
4         Andorra         Andorra  Southern Europe

In [43]:
# check
df_new.to_csv("df_new.csv", index=False)
len(df_new[df_new['id'] == df_new['Country']])

229

##### Checking the df_new found that rows with special letters were omitted during merging. Therefore, I need to add those three rows by hand.

### Create new merge df without lossing data containg special characters

In [48]:
# The following methods lost data
df_merge = pd.merge(df_nodes, result, on='Country')
len(df_merge)

229

In [50]:
# This method did not loss data
df_merge_all = df_nodes.merge(result, left_index=True, right_index=True, how='inner')
len(df_merge_all)

232

In [51]:
df_merge_all.head(2)

     Country_x    Country_y           Region
0  Afghanistan  Afghanistan    Southern Asia
1      Albania      Albania  Southern Europe

In [54]:
# rename columns and drop unnecessary columns
df_merge_all = df_merge_all.rename(columns={"Country_x":"Country"})
df_merge_all = df_merge_all.drop(columns=['Country_y'])
df_merge_all.head(2)

       Country           Region
0  Afghanistan    Southern Asia
1      Albania  Southern Europe

In [55]:
# Export to csv
df_merge_all.to_csv("CountryNodes.csv", index=False)