In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

# Part I: Nodes

In [2]:
Nodes = pd.read_csv('CountryNodes_All.csv')
Nodes.head(1)

,Country,Region,UN_Region,Influenza2005,Influenza2006,Influenza2007,Influenza2008,Influenza2009,Influenza2010,Influenza2011,Influenza2012,Influenza2013,Influenza2014,Influenza2015,Influenza2016,Influenza2017,Influenza2018,Influenza2019
0,Australia,Australia New Zealand,Oceania,712.0,259.0,1355.0,768.0,5107.0,1252.0,2040.0,4798.0,2002.0,3473.0,3622.0,6705.0,10509.0,4264.0,14002.0

In [3]:
Nodes[Nodes['Region'] == 'Northern America']

,Country,Region,UN_Region,Influenza2005,Influenza2006,Influenza2007,Influenza2008,Influenza2009,Influenza2010,Influenza2011,Influenza2012,Influenza2013,Influenza2014,Influenza2015,Influenza2016,Influenza2017,Influenza2018,Influenza2019
106,Bermuda,Northern America,Europe and Northern America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,3.0,12.0
107,Canada,Northern America,Europe and Northern America,0.0,645.0,7302.0,11979.0,61503.0,3978.0,16296.0,17410.0,25239.0,37731.0,34241.0,44755.0,44404.0,66482.0,43196.0
108,Greenland,Northern America,Europe and Northern America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,Saint Pierre and Miquelon,Northern America,Europe and Northern America,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
110,United States of America,Northern America,Europe and Northern America,24042.0,17587.0,23596.0,41109.0,173882.0,15253.0,47282.0,52079.0,63341.0,88511.0,83112.0,114753.0,214333.0,267611.0,267384.0

In [4]:
# Calculate influenza case number by 22 region

# create a df
RegionNameList = Nodes['Region'].unique()
data = {'Region': RegionNameList}
df = pd.DataFrame(data)

# use group by to caculate influenza data
a = pd.DataFrame(Nodes.groupby('Region')['Influenza2005'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, a, on = 'Region')

# do the same for year 2010
Y2010 = pd.DataFrame(Nodes.groupby('Region')['Influenza2010'].sum()).reset_index()
df = pd.merge(df, Y2010, on = 'Region')

Y2015 = pd.DataFrame(Nodes.groupby('Region')['Influenza2015'].sum()).reset_index()
df = pd.merge(df, Y2015, on = 'Region')

Y2019 = pd.DataFrame(Nodes.groupby('Region')['Influenza2019'].sum()).reset_index()
df = pd.merge(df, Y2019, on = 'Region')

df

,Region,Influenza2005,Influenza2010,Influenza2015,Influenza2019
0,Australia New Zealand,981.0,1578.0,8724.0,14959.0
1,Caribbean,2.0,1579.0,1116.0,2314.0
2,Central America,300.0,10278.0,2772.0,10141.0
3,Central Asia,0.0,18.0,788.0,818.0
4,Eastern Africa,170.0,2161.0,1143.0,2487.0
5,Eastern Asia,16316.0,54585.0,76824.0,135164.0
6,Eastern Europe,693.0,7585.0,17852.0,26695.0
7,Melanesia,34.0,123.0,337.0,745.0
8,Micronesia,0.0,0.0,0.0,0.0
9,Middle Africa,0.0,780.0,735.0,439.0
10,Northern Africa,233.0,3731.0,2479.0,3496.0
11,Northern America,24042.0,19231.0,117353.0,310592.0
12,Northern Europe,4207.0,8111.0,46181.0,100961.0
13,Polynesia,0.0,0.0,0.0,0.0
14,South America,2551.0,10363.0,8135.0,22091.0
15,South Eastern Asia,1047.0,10230.0,3853.0,6985.0
16,Southern Africa,579.0,1333.0,871.0,1164.0
17,Southern Asia,22.0,7771.0,13057.0,24780.0
18,Southern Europe,1707.0,3379.0,20684.0,43629.0
19,Western Africa,13.0,2815.0,1579.0,3397.0
20,Western Asia,234.0,1628.0,11829.0,24844.0
21,Western Europe,3692.0,2884.0,43522.0,50623.0

In [5]:
# create a second region feature as the node color
list_Colr = ['Oceania', 'Latin America and The Caribbean', 'Latin America and The Caribbean',
            'Central and Southern Asia', 'Sub_Saharan Africa', 'Eastern and South Eastern Asia',
            'Europe and Northern America', 'Oceania', 'Oceania',
            'Sub_Saharan Africa', 'Northern Africa and Western Asia', 'Europe and Northern America',
            'Europe and Northern America', 'Oceania', 'Latin America and The Caribbean',
            'Eastern and South Eastern Asia', 'Sub_Saharan Africa', 'Central and Southern Asia',
            'Europe and Northern America', 'Sub_Saharan Africa', 'Northern Africa and Western Asia',
            'Europe and Northern America']

# merge with df
data = {'UN_Region': list_Colr}
df_colr = pd.DataFrame(data)

df['UN_Region'] = df_colr['UN_Region']
df.head()

,Region,Influenza2005,Influenza2010,Influenza2015,Influenza2019,UN_Region
0,Australia New Zealand,981.0,1578.0,8724.0,14959.0,Oceania
1,Caribbean,2.0,1579.0,1116.0,2314.0,Latin America and The Caribbean
2,Central America,300.0,10278.0,2772.0,10141.0,Latin America and The Caribbean
3,Central Asia,0.0,18.0,788.0,818.0,Central and Southern Asia
4,Eastern Africa,170.0,2161.0,1143.0,2487.0,Sub_Saharan Africa

In [6]:
df.to_csv('Nodes_Regional_Data.csv', index=False)

# Part II: Edgelist

In [7]:
Links = pd.read_csv('EdgeList_All.csv')
Links = Links[['Destination', 'Origin', 'flow2000', 'flow2005', 'flow2010', 'flow2015', 'flow2019']]
Links.head()

,Destination,Origin,flow2000,flow2005,flow2010,flow2015,flow2019
0,Afghanistan,Albania,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,Algeria,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,American Samoa,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Andorra,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Angola,0.0,0.0,0.0,0.0,0.0

In [8]:
df_2 = Nodes[['Country', 'Region']].rename(columns = {'Country': 'Destination', 'Region': 'Destination_Region'})
df_2.head()

           Destination     Destination_Region
0            Australia  Australia New Zealand
1          New Zealand  Australia New Zealand
2             Anguilla              Caribbean
3  Antigua and Barbuda              Caribbean
4                Aruba              Caribbean

In [9]:
# merge links and df_2 together based on Country name
Links = pd.merge(Links, df_2, on = 'Destination', how = 'left')
Links.head(20)

,Destination,Origin,flow2000,flow2005,flow2010,flow2015,flow2019,Destination_Region
0,Afghanistan,Albania,0.0,0.0,0.0,0.0,0.0,Southern Asia
1,Afghanistan,Algeria,0.0,0.0,0.0,0.0,0.0,Southern Asia
2,Afghanistan,American Samoa,0.0,0.0,0.0,0.0,0.0,Southern Asia
3,Afghanistan,Andorra,0.0,0.0,0.0,0.0,0.0,Southern Asia
4,Afghanistan,Angola,0.0,0.0,0.0,0.0,0.0,Southern Asia
5,Afghanistan,Anguilla,0.0,0.0,0.0,0.0,0.0,Southern Asia
6,Afghanistan,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,Southern Asia
7,Afghanistan,Argentina,0.0,0.0,0.0,0.0,0.0,Southern Asia
8,Afghanistan,Armenia,0.0,0.0,0.0,0.0,0.0,Southern Asia
9,Afghanistan,Aruba,0.0,0.0,0.0,0.0,0.0,Southern Asia
10,Afghanistan,Australia,0.0,0.0,0.0,0.0,0.0,Southern Asia
11,Afghanistan,Austria,0.0,0.0,0.0,0.0,0.0,Southern Asia
12,Afghanistan,Azerbaijan,0.0,0.0,0.0,0.0,0.0,Southern Asia
13,Afghanistan,Bahamas,0.0,0.0,0.0,0.0,0.0,Southern Asia
14,Afghanistan,Bahrain,0.0,0.0,0.0,0.0,0.0,Southern Asia
15,Afghanistan,Bangladesh,0.0,0.0,0.0,0.0,0.0,Southern Asia
16,Afghanistan,Barbados,0.0,0.0,0.0,0.0,0.0,Southern Asia
17,Afghanistan,Belarus,0.0,0.0,0.0,0.0,0.0,Southern Asia
18,Afghanistan,Belgium,0.0,0.0,0.0,0.0,0.0,Southern Asia
19,Afghanistan,Belize,0.0,0.0,0.0,0.0,0.0,Southern Asia

In [10]:
df_3 = Nodes[['Country', 'Region']].rename(columns = {'Country': 'Origin', 'Region': 'Origin_Region'})
df_3.head()

                Origin          Origin_Region
0            Australia  Australia New Zealand
1          New Zealand  Australia New Zealand
2             Anguilla              Caribbean
3  Antigua and Barbuda              Caribbean
4                Aruba              Caribbean

In [11]:
# merge links and df_3 together based on Country name
Links = pd.merge(Links, df_3, on = 'Origin', how = 'left')
Links.head(20)

,Destination,Origin,flow2000,flow2005,flow2010,flow2015,flow2019,Destination_Region,Origin_Region
0,Afghanistan,Albania,0.0,0.0,0.0,0.0,0.0,Southern Asia,Southern Europe
1,Afghanistan,Algeria,0.0,0.0,0.0,0.0,0.0,Southern Asia,Northern Africa
2,Afghanistan,American Samoa,0.0,0.0,0.0,0.0,0.0,Southern Asia,Polynesia
3,Afghanistan,Andorra,0.0,0.0,0.0,0.0,0.0,Southern Asia,Southern Europe
4,Afghanistan,Angola,0.0,0.0,0.0,0.0,0.0,Southern Asia,Middle Africa
5,Afghanistan,Anguilla,0.0,0.0,0.0,0.0,0.0,Southern Asia,Caribbean
6,Afghanistan,Antigua and Barbuda,0.0,0.0,0.0,0.0,0.0,Southern Asia,Caribbean
7,Afghanistan,Argentina,0.0,0.0,0.0,0.0,0.0,Southern Asia,South America
8,Afghanistan,Armenia,0.0,0.0,0.0,0.0,0.0,Southern Asia,Western Asia
9,Afghanistan,Aruba,0.0,0.0,0.0,0.0,0.0,Southern Asia,Caribbean
10,Afghanistan,Australia,0.0,0.0,0.0,0.0,0.0,Southern Asia,Australia New Zealand
11,Afghanistan,Austria,0.0,0.0,0.0,0.0,0.0,Southern Asia,Western Europe
12,Afghanistan,Azerbaijan,0.0,0.0,0.0,0.0,0.0,Southern Asia,Western Asia
13,Afghanistan,Bahamas,0.0,0.0,0.0,0.0,0.0,Southern Asia,Caribbean
14,Afghanistan,Bahrain,0.0,0.0,0.0,0.0,0.0,Southern Asia,Western Asia
15,Afghanistan,Bangladesh,0.0,0.0,0.0,0.0,0.0,Southern Asia,Southern Asia
16,Afghanistan,Barbados,0.0,0.0,0.0,0.0,0.0,Southern Asia,Caribbean
17,Afghanistan,Belarus,0.0,0.0,0.0,0.0,0.0,Southern Asia,Eastern Europe
18,Afghanistan,Belgium,0.0,0.0,0.0,0.0,0.0,Southern Asia,Western Europe
19,Afghanistan,Belize,0.0,0.0,0.0,0.0,0.0,Southern Asia,Central America

In [12]:
# create a df to store the data
# create a df
RegionNameList = Nodes['Region'].unique()
list1 = [ele for ele in RegionNameList for i in range(len(RegionNameList))] 
list2 = list(RegionNameList) * len(RegionNameList)

data = {'Destination_Region': list1, "Origin_Region": list2}
df = pd.DataFrame(data)
df.head()

      Destination_Region          Origin_Region
0  Australia New Zealand  Australia New Zealand
1  Australia New Zealand              Caribbean
2  Australia New Zealand        Central America
3  Australia New Zealand           Central Asia
4  Australia New Zealand         Eastern Africa

In [13]:
len(df)

484

In [14]:
# Calculate migration flow based on region name
# use group by to caculate influenza data
Y2000 = pd.DataFrame(Links.groupby(['Destination_Region', 'Origin_Region'])['flow2000'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, Y2000, how = 'left', left_on = ['Destination_Region', 'Origin_Region'], 
              right_on = ['Destination_Region', 'Origin_Region'])

# do the same for year 2005
Y2005 = pd.DataFrame(Links.groupby(['Destination_Region', 'Origin_Region'])['flow2005'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, Y2005, how = 'left', left_on = ['Destination_Region', 'Origin_Region'], 
              right_on = ['Destination_Region', 'Origin_Region'])

df.head()

      Destination_Region          Origin_Region  flow2000  flow2005
0  Australia New Zealand  Australia New Zealand  419804.0  483551.0
1  Australia New Zealand              Caribbean    4269.0    4679.0
2  Australia New Zealand        Central America   13770.0   14530.0
3  Australia New Zealand           Central Asia    1050.0    1800.0
4  Australia New Zealand         Eastern Africa   65437.0   93117.0

In [15]:
# do the same for year 2010
Y2010 = pd.DataFrame(Links.groupby(['Destination_Region', 'Origin_Region'])['flow2010'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, Y2010, how = 'left', left_on = ['Destination_Region', 'Origin_Region'], 
              right_on = ['Destination_Region', 'Origin_Region'])

# do the same for year 2015
Y2015 = pd.DataFrame(Links.groupby(['Destination_Region', 'Origin_Region'])['flow2015'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, Y2015, how = 'left', left_on = ['Destination_Region', 'Origin_Region'], 
              right_on = ['Destination_Region', 'Origin_Region'])

# do the same for year 2019
Y2019 = pd.DataFrame(Links.groupby(['Destination_Region', 'Origin_Region'])['flow2019'].sum()).reset_index()

# merge a with df based on df's Region column 
df = pd.merge(df, Y2019, how = 'left', left_on = ['Destination_Region', 'Origin_Region'], 
              right_on = ['Destination_Region', 'Origin_Region'])

df.head()

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019
0,Australia New Zealand,Australia New Zealand,419804.0,483551.0,580866.0,640591.0,667382.0
1,Australia New Zealand,Caribbean,4269.0,4679.0,5229.0,6069.0,6494.0
2,Australia New Zealand,Central America,13770.0,14530.0,16550.0,19290.0,21664.0
3,Australia New Zealand,Central Asia,1050.0,1800.0,3040.0,4510.0,5298.0
4,Australia New Zealand,Eastern Africa,65437.0,93117.0,128743.0,161525.0,183667.0

In [16]:
df[df['Origin_Region'] == 'Middle Africa']

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019
9,Australia New Zealand,Middle Africa,1000.0,1730.0,4410.0,7040.0,8588.0
31,Caribbean,Middle Africa,127.0,160.0,194.0,193.0,194.0
53,Central America,Middle Africa,121.0,168.0,241.0,253.0,259.0
75,Central Asia,Middle Africa,0.0,0.0,0.0,0.0,0.0
97,Eastern Africa,Middle Africa,756743.0,772921.0,794895.0,1022771.0,1134523.0
119,Eastern Asia,Middle Africa,0.0,0.0,0.0,0.0,0.0
141,Eastern Europe,Middle Africa,2150.0,2565.0,2940.0,3168.0,3408.0
163,Melanesia,Middle Africa,0.0,0.0,0.0,0.0,0.0
185,Micronesia,Middle Africa,0.0,0.0,0.0,0.0,0.0
207,Middle Africa,Middle Africa,865771.0,893422.0,1048873.0,1431916.0,1536816.0
229,Northern Africa,Middle Africa,106674.0,118642.0,125009.0,100240.0,122952.0
251,Northern America,Middle Africa,37821.0,64916.0,93079.0,142131.0,153041.0
273,Northern Europe,Middle Africa,26709.0,45701.0,53184.0,67935.0,79409.0
295,Polynesia,Middle Africa,0.0,0.0,0.0,0.0,0.0
317,South America,Middle Africa,6854.0,7200.0,7535.0,9112.0,10274.0
339,South Eastern Asia,Middle Africa,3082.0,2500.0,642.0,653.0,672.0
361,Southern Africa,Middle Africa,91744.0,99854.0,125463.0,189598.0,209843.0
383,Southern Asia,Middle Africa,0.0,0.0,0.0,0.0,0.0
405,Southern Europe,Middle Africa,222195.0,236451.0,219313.0,236063.0,245685.0
427,Western Africa,Middle Africa,43665.0,94118.0,83200.0,112946.0,119295.0
449,Western Asia,Middle Africa,9704.0,6369.0,7615.0,8043.0,8537.0
471,Western Europe,Middle Africa,265175.0,363603.0,437121.0,484514.0,518996.0

## Calculate increase rate based on regional data

In [17]:
# Calcualte migration flow increase rate
df['increase_rate_2000_2005'] = 100 * ((df['flow2005'] - df['flow2000'])/df['flow2000'])
df['increase_rate_2000_2005'] = df['increase_rate_2000_2005'].fillna(0)
df.loc[~np.isfinite(df['increase_rate_2000_2005']), 'increase_rate_2000_2005'] = float(0)
df

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019,increase_rate_2000_2005
0,Australia New Zealand,Australia New Zealand,419804.0,483551.0,580866.0,640591.0,667382.0,15.184943
1,Australia New Zealand,Caribbean,4269.0,4679.0,5229.0,6069.0,6494.0,9.604123
2,Australia New Zealand,Central America,13770.0,14530.0,16550.0,19290.0,21664.0,5.519245
3,Australia New Zealand,Central Asia,1050.0,1800.0,3040.0,4510.0,5298.0,71.428571
4,Australia New Zealand,Eastern Africa,65437.0,93117.0,128743.0,161525.0,183667.0,42.300228
5,Australia New Zealand,Eastern Asia,358873.0,513239.0,714440.0,901056.0,1070557.0,43.014102
6,Australia New Zealand,Eastern Europe,173486.0,175453.0,174637.0,176977.0,186374.0,1.133809
7,Australia New Zealand,Melanesia,76516.0,96146.0,115782.0,134054.0,143076.0,25.654765
8,Australia New Zealand,Micronesia,1532.0,1996.0,2568.0,3083.0,3338.0,30.287206
9,Australia New Zealand,Middle Africa,1000.0,1730.0,4410.0,7040.0,8588.0,73.000000
10,Australia New Zealand,Northern Africa,47286.0,63612.0,74703.0,72954.0,78326.0,34.526075
11,Australia New Zealand,Northern America,110887.0,132803.0,159524.0,190070.0,206109.0,19.764265
12,Australia New Zealand,Northern Europe,1447427.0,1460320.0,1564893.0,1622399.0,1690726.0,0.890753
13,Australia New Zealand,Polynesia,113111.0,121893.0,132990.0,146779.0,155612.0,7.764055
14,Australia New Zealand,South America,69585.0,80213.0,105442.0,134428.0,167953.0,15.273407
15,Australia New Zealand,South Eastern Asia,568763.0,664642.0,846207.0,1003393.0,1146711.0,16.857461
16,Australia New Zealand,Southern Africa,107439.0,156075.0,207124.0,237076.0,257822.0,45.268478
17,Australia New Zealand,Southern Asia,236252.0,359251.0,657680.0,933403.0,1152208.0,52.062628
18,Australia New Zealand,Southern Europe,657698.0,650950.0,621958.0,596652.0,612152.0,-1.026003
19,Australia New Zealand,Western Africa,4881.0,9331.0,17311.0,24661.0,30740.0,91.169842
20,Australia New Zealand,Western Asia,197267.0,226469.0,266140.0,303729.0,353044.0,14.803287
21,Australia New Zealand,Western Europe,304372.0,313832.0,324422.0,318676.0,330596.0,3.108039
22,Caribbean,Australia New Zealand,392.0,416.0,449.0,480.0,512.0,6.122449
23,Caribbean,Caribbean,566287.0,629381.0,669162.0,841542.0,863937.0,11.141700
24,Caribbean,Central America,18851.0,17438.0,15365.0,15336.0,14585.0,-7.495624
25,Caribbean,Central Asia,4.0,7.0,10.0,10.0,10.0,75.000000
26,Caribbean,Eastern Africa,880.0,935.0,995.0,1032.0,1047.0,6.250000
27,Caribbean,Eastern Asia,11158.0,9409.0,7919.0,10268.0,10715.0,-15.674852
28,Caribbean,Eastern Europe,5388.0,3798.0,2314.0,2093.0,2037.0,-29.510022
29,Caribbean,Melanesia,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...
454,Western Asia,South America,52220.0,57359.0,63266.0,64970.0,63460.0,9.841057
455,Western Asia,South Eastern Asia,1613525.0,1956546.0,2900361.0,3602016.0,4186333.0,21.259107
456,Western Asia,Southern Africa,12789.0,14444.0,17287.0,17358.0,17163.0,12.940809
457,Western Asia,Southern Asia,5843682.0,7628868.0,12526232.0,15830566.0,18402429.0,30.548993
458,Western Asia,Southern Europe,225617.0,236259.0,254402.0,255440.0,330699.0,4.716843
459,Western Asia,Western Africa,4795.0,9064.0,19646.0,26702.0,28598.0,89.030240
460,Western Asia,Western Asia,5194390.0,6069110.0,7772875.0,12188602.0,13808956.0,16.839706
461,Western Asia,Western Europe,408862.0,429518.0,461274.0,473595.0,596121.0,5.052071
462,Western Europe,Australia New Zealand,35643.0,43104.0,48635.0,52299.0,57748.0,20.932581
463,Western Europe,Caribbean,150685.0,231194.0,240202.0,259577.0,286014.0,53.428676
464,Western Europe,Central America,40458.0,49438.0,61250.0,68910.0,76826.0,22.195857
465,Western Europe,Central Asia,562220.0,782347.0,959787.0,1000529.0,1107365.0,39.153178
466,Western Europe,Eastern Africa,231601.0,333522.0,378035.0,451449.0,566243.0,44.007150
467,Western Europe,Eastern Asia,283734.0,350051.0,420080.0,469675.0,542957.0,23.372948
468,Western Europe,Eastern Europe,2913660.0,3849370.0,4754281.0,5218951.0,6069456.0,32.114591
469,Western Europe,Melanesia,777.0,1428.0,1510.0,1659.0,1744.0,83.783784
470,Western Europe,Micronesia,6.0,18.0,15.0,16.0,16.0,200.000000
471,Western Europe,Middle Africa,265175.0,363603.0,437121.0,484514.0,518996.0,37.118130
472,Western Europe,Northern Africa,2540323.0,3168193.0,3252256.0,3598357.0,3840948.0,24.716148
473,Western Europe,Northern America,274254.0,295837.0,313099.0,338927.0,370700.0,7.869712
474,Western Europe,Northern Europe,548446.0,596687.0,645267.0,676354.0,741588.0,8.795943
475,Western Europe,Polynesia,241.0,115.0,152.0,171.0,185.0,-52.282158
476,Western Europe,South America,442480.0,578272.0,653057.0,718339.0,767077.0,30.688845
477,Western Europe,South Eastern Asia,697431.0,735553.0,776399.0,823924.0,880342.0,5.466060
478,Western Europe,Southern Africa,29362.0,39497.0,46993.0,50374.0,56551.0,34.517403
479,Western Europe,Southern Asia,578548.0,653994.0,723148.0,823266.0,1103989.0,13.040577
480,Western Europe,Southern Europe,5507896.0,4387702.0,4183183.0,4429490.0,5443260.0,-20.337966
481,Western Europe,Western Africa,408565.0,517827.0,596458.0,675011.0,770086.0,26.742868
482,Western Europe,Western Asia,2744315.0,2648361.0,2637944.0,2825058.0,3840848.0,-3.496465
483,Western Europe,Western Europe,2041136.0,2299804.0,2548023.0,2740273.0,2974052.0,12.672747

In [18]:
# Calcualte migration flow increase rate
df['increase_rate_2005_2010'] = 100 * ((df['flow2010'] - df['flow2005'])/df['flow2005'])
df['increase_rate_2005_2010'] = df['increase_rate_2005_2010'].fillna(0)
df.loc[~np.isfinite(df['increase_rate_2005_2010']), 'increase_rate_2005_2010'] = float(0)
df.head()

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019,increase_rate_2000_2005,increase_rate_2005_2010
0,Australia New Zealand,Australia New Zealand,419804.0,483551.0,580866.0,640591.0,667382.0,15.184943,20.125075
1,Australia New Zealand,Caribbean,4269.0,4679.0,5229.0,6069.0,6494.0,9.604123,11.754648
2,Australia New Zealand,Central America,13770.0,14530.0,16550.0,19290.0,21664.0,5.519245,13.902271
3,Australia New Zealand,Central Asia,1050.0,1800.0,3040.0,4510.0,5298.0,71.428571,68.888889
4,Australia New Zealand,Eastern Africa,65437.0,93117.0,128743.0,161525.0,183667.0,42.300228,38.259394

In [19]:
# Calcualte migration flow increase rate
df['increase_rate_2010_2015'] = 100 * ((df['flow2015'] - df['flow2010'])/df['flow2010'])
df['increase_rate_2010_2015'] = df['increase_rate_2010_2015'].fillna(0)
df.loc[~np.isfinite(df['increase_rate_2010_2015']), 'increase_rate_2010_2015'] = float(0)
df.head()

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019,increase_rate_2000_2005,increase_rate_2005_2010,increase_rate_2010_2015
0,Australia New Zealand,Australia New Zealand,419804.0,483551.0,580866.0,640591.0,667382.0,15.184943,20.125075,10.282062
1,Australia New Zealand,Caribbean,4269.0,4679.0,5229.0,6069.0,6494.0,9.604123,11.754648,16.064257
2,Australia New Zealand,Central America,13770.0,14530.0,16550.0,19290.0,21664.0,5.519245,13.902271,16.555891
3,Australia New Zealand,Central Asia,1050.0,1800.0,3040.0,4510.0,5298.0,71.428571,68.888889,48.355263
4,Australia New Zealand,Eastern Africa,65437.0,93117.0,128743.0,161525.0,183667.0,42.300228,38.259394,25.463132

In [20]:
# Calcualte migration flow increase rate
df['increase_rate_2015_2019'] = 100 * ((df['flow2019'] - df['flow2015'])/df['flow2015'])
df['increase_rate_2015_2019'] = df['increase_rate_2015_2019'].fillna(0)
df.loc[~np.isfinite(df['increase_rate_2015_2019']), 'increase_rate_2015_2019'] = float(0)
df.head()

,Destination_Region,Origin_Region,flow2000,flow2005,flow2010,flow2015,flow2019,increase_rate_2000_2005,increase_rate_2005_2010,increase_rate_2010_2015,increase_rate_2015_2019
0,Australia New Zealand,Australia New Zealand,419804.0,483551.0,580866.0,640591.0,667382.0,15.184943,20.125075,10.282062,4.182232
1,Australia New Zealand,Caribbean,4269.0,4679.0,5229.0,6069.0,6494.0,9.604123,11.754648,16.064257,7.002801
2,Australia New Zealand,Central America,13770.0,14530.0,16550.0,19290.0,21664.0,5.519245,13.902271,16.555891,12.306895
3,Australia New Zealand,Central Asia,1050.0,1800.0,3040.0,4510.0,5298.0,71.428571,68.888889,48.355263,17.472284
4,Australia New Zealand,Eastern Africa,65437.0,93117.0,128743.0,161525.0,183667.0,42.300228,38.259394,25.463132,13.708095

In [21]:
df.to_csv('EdgeLists_Regional_Data.csv', index=False)